{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            <link href="{% static 'css/preset.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
        <!-- <link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}"> -->

    </head>
    <body>
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>{{message}}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <main>
            <aside class="profile" data-aside="profile">
                <div class="profile-info">
                    <figure class="avatar-content">
                        <img src="{{ user.image.url }}" alt="Profile" width="80"/>
                    </figure>
                    <div class="profile-desc">
                        <h1 class="name" title="Elodie Meunier">{{ user.first_name }} {{ user.last_name }}</h1>
                        <h2>{{ user.short_description }}</h2>
                    </div>
                    <ion-icon class="btn-arrow" data-arrow-down name="chevron-down-outline" size="large"></ion-icon>
                </div>
                <div data-more-info class="profile-detail">
                    <hr class="separator"/>
                    <div class="info-box">
                        <figure>
                            <ion-icon name="mail-outline"></ion-icon>
                        </figure>
                        <div>
                            <h5>Email</h5>
                            <a href="mailto:{{ user.professional_email }}" target="_blank">{{ user.professional_email }}</a>
                        </div>
                    </div>
                    <div class="info-box">
                        <figure>
                            <ion-icon name="calendar-outline"></ion-icon>
                        </figure>
                        <div>
                            <h5>{% translate 'Birthday' %}</h5>
                            <p>{{ user.birthday }}</p>
                        </div>
                    </div>
                    <div class="info-box">
                        <figure>
                            <ion-icon name="location-outline"></ion-icon>
                        </figure>
                        <div>
                            <h5>{% translate 'Location' %}</h5>
                            <p>{{ user.location }}</p>
                        </div>
                    </div>
                    <hr class="separator"/>
                    <ul class="social-media-list">
                        <li>
                            <a href="{{ user.github_link }}" target="_blank">
                                <ion-icon data-github name="logo-github"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="{{ user.linkedin_link }}" target="_blank">
                                <ion-icon data-linkedin name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="main">
                <header id="main-header">
                    <nav>
                        <ul>
                            <div class="menu_language">
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <div class="dropdown hover">
                                        <a id="button-translation"><ion-icon name="language-outline"></ion-icon></a>
                                        <ul>
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}
                                            {% for language in languages %}
                                                <li>
                                                    <button name="language" class="dropdown-item" type="submit" value="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %} selected{% endif %}">
                                                        {{ language.code }}
                                                    </button>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div> 
                                </form>
                            </div>
                            <li data-nav-link data-link="about" class="active">{% translate 'About' %}</li>
                            <li data-nav-link data-link="experience">{% translate 'Experience' %}</li>
                            <li data-nav-link data-link="projects">{% translate 'Projects' %}</li>
                            <li data-nav-link data-link="contact">Contact</li>
                        </ul>
                    </nav> 
                </header>
                <section class="about active" data-page="about">
                    {% include 'skills.html' %}
                </section>
                <section class="experience" data-page="experience">
                    {% include 'experiences.html' %}
                </section>
                <section class="projects" data-page="projects">
                    {% include 'projects.html' %}
                </section>
                <section class="contact" data-page="contact">
                    {% include 'contact_form.html' %}
                </section>
                <footer>
                    <h3>{% translate 'Thanks for your visit!' %}</h3>
                    <img src="static/img/profile-ok.png" alt="Memoji">
                </footer>
            </div>
        </main>

        <!-- scripts -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
