{% extends 'base.html' %}
<!-- {% load i18n %} -->
{% load static %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
<header>
    <nav>
        <div class="logo">
            <img class="img-logo" src="{{ user.logo.url }}" alt="Logo"/>
        </div>
        <ul class="menulist">
            <li id="about_me" href="#">About</li>
            <li>Portfolio</li>
            <li>Contact</li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="user-short-desc">
            <h1><span class="text-white">I'm </span>{{ user.first_name }} {{ user.last_name }}</h1>
            <h2>{{ user.short_description }}</h2>
            <button class="btn-style">Contact me</button>
        </div>
        <div class="user-img">
            <img class="" src="{{ user.image.url }}" alt="Profile image"/>
        </div>
    </div>
</header>
<main>
    <section id="about_me">
        {% include 'about_me.html' %}
    </section>
</main>
{% endblock %}
{% block js %}
    <!-- <script type="module" src="{% static 'js/three.js' %}"></script> -->
{% endblock %}
