{% load i18n %}
<article class="article-presentation">
    <header>
        <h2>{% translate 'About me' %}</h2>
    </header>
    <p>{{ user.description }}</p>
</article>
<article class="article-skills">
    <div class="title-skills">
        <h3>{% translate "What I'm doing" %}</h3>
    </div>
    <ul>
        {% for skill in user.skill_set.all %}
            <li class="skill-box">
                <figure>
                    <img src="{{ skill.image.url }}" alt="Logo {{ skill.name }}">
                </figure>
                <div class="skill-details">
                    <h4>{{ skill.name }}</h4>
                    <p>{{ skill.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</article>
