header {
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    padding: 0;
    text-decoration: none;
    display: flex;
}

nav ul li {
    color: #747575;
    margin-right: 10px;
    cursor: pointer;
}
nav ul li:hover {
    color: #fff;
}

nav .img-logo {
    max-width: 100px;
}
.main-container {
    display: flex;
    justify-content: space-around;
}
.user-short-desc {
    align-self: center;
}
.user-short-desc h1 {
    color: #c2b79b;
}

/* main {
    height: 100vh;
    width: 100%;
} */